# Fichiers d'environnement
.env

# Dépendances Node.js
node_modules/

# Dépendances PHP (Composer)
vendor/
composer.lock
composer.phar

# Fichiers liés à npm / package managers
package-lock.json
yarn.lock
pnpm-lock.yaml
note_book.txt

# Dossiers de développement spécifiques
.vscode/
.idea/    # Pour WebStorm/PHPStorm
.dsrc/ 

# Fichiers liés aux dépendances front-end
font-awesome/
js/        
dist/      # Webpack/Vite/Gulp pour la génération

# Fichiers système / OS
Thumbs.db  # Windows

